<div id="chartContainer"></div>
<div id="chartController">
<form id="axis_control_form">
<table>
<tr>
<td>
<b>X Axis :</b>
</td><td></td><td>
<input type="radio" class="axis_control_rb" name="x" value="year" checked="checked">Crime Year
</td><td></td><td>
<input type="radio" class="axis_control_rb" name="x" value="type">Crime Type
</td>
</tr>
</table>
</form>
</div>
<script>
var crimesByTypeAndYear = <%- JSON.stringify(crimesByTypeAndYear) %>;
var crimes = <%- JSON.stringify(crimes) %>;
var axis = <%- JSON.stringify(axis) %>;
</script>
<script type="text/javascript" src="/javascripts/graphView.js"></script>

