<html>
<head>
<title>Crime statistics in Sri Lanka - by Crawlers</title>
<link rel="stylesheet" href="/stylesheets/topmenu.css">
<link rel="stylesheet" href="/stylesheets/main.css">
<link rel="stylesheet" href="/stylesheets/highcharts.css">
<script type="text/javascript" src="/javascripts/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
<script type="text/javascript" src="/javascripts/topmenu.js"></script>
<script type="text/javascript" src="/javascripts/highmaps/highcharts.js"></script>
<script type="text/javascript" src="/javascripts/highmaps/modules/map.js"></script>
<script type="text/javascript" src="/javascripts/highmaps/mapdata/lk-all.js"></script>

</head>
<body>
<ul id="nav">
	<li class="current"><a class="url" href="#home">Home</a></li>
	<li><a href="javascript:void(0);">Statistics</a>
		<ul>
			<li><a class="url" href="#mapView">Map View</a></li>
			<li><a class="url" href="#graphView">Graph View</a></li>
		</ul>
	</li>
	<li><a class="url" href="#predictions">Predictions</a></li>
	<li id="loading"><img height="30" src="/images/loading.gif"></img></li>
</ul>
<div id="container"></div>
</body>
</html>