<div id="lineChartContainer"></div>
<script>
var chartData = <%- JSON.stringify(data) %>;
</script>
<script type="text/javascript" src="/javascripts/lineChartView.js"></script>
<script type="text/javascript" src="/javascripts/chartView.js"></script>

