<div id="mapContainer"></div>

<form id="mapview_field1_form" name="mapview_form">
<table>
<tr></tr>
<tr><td>
<h3><%= data.metadata.params.filter_title1 %></h3>
<div id="mapview_field1_controls" class="controlpanel">
</div>
</form>
</td><td></td><td>
<form id="mapview_field2_form" name="control_form">
<h3><%= data.metadata.params.filter_title2 %></h3>
<div id="mapview_field2_controls" class="controlpanel">
</div>
</td>
</tr>
</table>
</form>
<script>
var mapData = <%- JSON.stringify(data) %>;
</script>
<script type="text/javascript" src="/javascripts/mapView.js"></script>
