<link rel="stylesheet" href="/stylesheets/foundation/foundation.css">
<script type="text/javascript" src="/javascripts/fusioncharts/fusioncharts.js"></script>
<script type="text/javascript" src="/javascripts/fusioncharts/themes/fusioncharts.theme.fint.js"></script>
<script type="text/javascript" src="/javascripts/mapView.js"></script>
<div id="mapContainer"></div>
