<div id="totalPieChartWrapper" align="center">
<div id="totalPieChart"></div>
<form id="pie_chart_control_form" name="pie_chart_control_form">
</form>
</div>
<br>
<div id="pieChartsForEachYear" align="center"></div>
<script>
var pieChartData = <%- JSON.stringify(data) %>;
</script>
<script type="text/javascript" src="/javascripts/pieChartView.js"></script>
