<div id="totalPieChartWrapper" align="center">
<div id="totalPieChart"></div>
<form id="pie_chart_control_form" name="pie_chart_control_form">
</form>
</div>
<div id="pieChartsForEachYear" align="center"></div>
<br><br><br>
<script>
var crimesByYear = <%- JSON.stringify(crimesByYear) %>;
var crimes = <%- JSON.stringify(crimes) %>;
var crimeTypes = <%- JSON.stringify(crime_types) %>;
var crimeYears = <%- JSON.stringify(crime_years) %>;
</script>
<script type="text/javascript" src="/javascripts/pieChartView.js"></script>
