

body {
   margin: 0;
   padding: 0;
}

#container {
  top: 50px;
  position: fixed;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#container table tr{
   height: 100px;
   vertical-align: text-top;
}

#container table td{
   min-width: 100px;
   vertical-align: text-top;
   color:#444;
}

.home ul{
color: #444;
list-style-type: none;
}