body {
   margin: 0;
   padding: 0;
}

#container {
  top: 70px;
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}


#axis_control_form table {
   margin-left: 30%;
   margin-right: 30%;
   width: 40%;
   color:#444;
}

#form_crime_types table tr{
   height: 100px;
   vertical-align: text-top;
}

#form_crime_types table td{
   min-width: 100px;
   vertical-align: text-top;
   color:#444;
}



.home ul{
color: #444;
list-style-type: none;
}

#mapContainer {
    float: left;
    color:#444;
    height: 500px; 
    width: 50%; 
    margin: 10px;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}