body {
   margin: 0;
   padding: 0;
   background: #FAF0E6		;
}

#container {
  top: 70px;
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

form table td{
   color:#444;
}

#bc_axis_control_form table {
   margin-left: 30%;
   margin-right: 30%;
   width: 40%;
   color:#444;
}

#mapview_field1_form table tr{
   height: 100px;
   vertical-align: text-top;
   color:#444;
}

#mapview_field1_form table td{
   min-width: 100px;
   vertical-align: text-top;
   color:#444;
}

#totalPieChart {
   min-width: 900px;
   min-height: 400px;
}

.home ul{
color: #444;
list-style-type: none;
}

#mapContainer {
    float: left;
    color:#444;
    height: 560px; 
    width: 50%; 
    margin: 10px;
}

#pieChartsForEachYear div {
display: inline-block;
    color:#444;
    margin: 10px;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}